.benefits {

  padding: 7.2rem 0;

  @include breakpoint(tablet) {
    padding: 4.2rem 0;
  }

  & + .sections {
    padding-top: 0;
  }

  .ghost {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__inner {
    position: relative;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.4rem;

    @include breakpoint(small-tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  // ******
  // Left Part

  &__tabs-container {
    grid-column: span 6;

    @include breakpoint(tablet) {
      grid-column: span 7;
    }
    @include breakpoint(small-tablet) {
      grid-column: unset;
    }
  }

  &__tabs {
    margin-bottom: 4.8rem;

    @include breakpoint(tablet) {
      margin-bottom: 3.6rem;
    }
    @include breakpoint(small-mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &__tabs-btn {
    border-color: var(--primary-color);
    color: var(--black);
    svg {
      fill: var(--primary-color);
    }

    &.active {
      background-color: var(--black);
      border-color: var(--black);
      color: white;
    }

    &:hover {
      color: white;
      border-color: var(--black) !important;
    }

    &:focus-visible {
      color: white;
      border-color: var(--black) !important;
    }
  }

  &__bodies-slider {
  }

  &__bodies-wrapper {
  }

  &__item-wrapper {
    .benefits__item {
      grid-column: unset;
    }
  }

  // ******
  // Item

  &__item {
    grid-column: span 6;
  }

  &__item-text {
  }

  // ******
  // Right Part
  &__image {
    // imageToTitle.js
    right: 0;
    z-index: 2;

    grid-column: span 5;

    @include breakpoint(small-tablet) {
      grid-column: unset;
    }
  }
}