.cardslist {

  padding-bottom: 7.2rem;

  // 18.02.22: Убрать градиент на фоне
  // background-color: var(--secondary-grey);

  @include breakpoint(tablet) {
    padding-top: 0;
  }

  @include breakpoint(mobile) {
    padding-bottom: 4.8rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @include breakpoint(small-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(small-mobile) {
      grid-template-columns: 1fr;
    }

    &.js-ajax-elements-container {
      transition: opacity $base-transition-time $base-transition-easing;
    }
    &.js-ajax-elements-container.loading {
      opacity: 0.5;
    }
  }

  &__item {
  }

  &__more-container {
    display: flex;
    justify-content: center;

    margin-top: 2.8rem;

    &.hidden {
      display: none;
    }
  }

  &__more {
    min-height: 4.2rem;

    @include breakpoint(mobile) {
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      color: var(--black) !important;
      border-color: var(--black);
    }
  }
}