.contacts-section {

  padding: 7.2rem 0;

  @include breakpoint(tablet) {
    padding: 4.2rem 0;

    .container--grid {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
      justify-content: flex-start;
      gap: 0;
    }
  }

  .dowload-file {
    @include breakpoint(tablet) {
      max-width: unset;
    }
  }

  &__links-block {
    @include breakpoint(tablet) {
      padding-top: 4.2rem;
      margin-top: 4.2rem;

      border-top: solid 1px var(--grey);
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @extend %fs-h3;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.4rem;

    padding: 3.2rem;

    background-color: var(--secondary-grey);

    @include breakpoint(small-mobile) {
      padding: 2.4rem;
    }
  }

  &__link-wrapper {
  }

  &__link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;

    svg {
      flex-shrink: 0;

      width: 2.4rem;
      height: 2.4rem;

      fill: var(--grey);

      transition: fill $base-transition-time $base-transition-easing;
    }

    &:hover {
      svg {
        fill: var(--primary-color);
      }

      .contacts-section__link-name {
        color: var(--grey);
      }

      .contacts-section__link-name::after {
        background-color: var(--grey);
      }
    }

    &:focus-visible {

    }
  }

  &__link-text {
  }

  &__link-name {
    position: relative;

    display: block;

    width: fit-content;
    margin-bottom: 1.2rem;

    @media (min-width: 1681px) {
      font-size: 1.4rem;
    }
    @include clamp(12, 14);
    font-weight: 500;
    line-height: 1.2;

    transition: color $base-transition-time $base-transition-easing;

    &::after {
      content: '';
      
      position: absolute;
      bottom: 1px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: var(--dark);

      transition: background-color $base-transition-time $base-transition-easing;

      @include breakpoint(mobile) {
        bottom: -1px;
      }
    }
  }

  &__link-description {
    display: block;

    @extend %fs-t8;
    @extend %secondary-ff;

    opacity: 0.5;
  }

  &__form {
  }
}