.contacts {

  padding-bottom: 7.2rem;

  &__header {
  }

  &__title {
    margin-bottom: 3.6rem;
    @extend %fs-h1;
  }

  &__info-desktop {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__info-mobile {
    display: none;
    margin-top: 2.4rem;
    @include breakpoint(tablet) {
      display: block;
    }
  }

  &__info {
    padding: 3.4rem;

    background-color: var(--secondary-grey);

    @extend %fs-h6;

    @include breakpoint(tablet) {
      padding: 2.4rem;
    }
  }

  &__info-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    margin-bottom: 2.4rem;

    svg {
      flex-shrink: 0;

      fill: var(--grey);
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__info-item-text-block {
    display: flex;
    flex-direction: column;
  }

  &__info-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    transition: color $base-transition-time $base-transition-easing;

    svg {
      flex-shrink: 0;

      fill: var(--grey);
      width: 2.4rem;
      height: 2.4rem;

      transition: fill $base-transition-time $base-transition-easing;
    }

    &:hover {
      color: var(--grey);

      svg {
        fill: var(--primary-color);
      }

      .contacts__info-email-label::after {
        background-color: var(--grey);
      }
    }
  }

  &__info-phone {
    margin-bottom: 2.4rem;
  }

  &__info-email {
    text-transform: lowercase;
  }

  &__info-email-label {
    position: relative;

    &::after {
      content: '';
      
      position: absolute;
      bottom: 0px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: var(--dark);

      transition: background-color $base-transition-time $base-transition-easing;
    }
  }

  &__info-label {
    display: block;

    margin-top: 4rem;
    margin-bottom: 2rem;

    color: black;
    opacity: 0.5;
    @extend %fs-t6;
    @extend %secondary-ff;
    text-transform: none;
  }

  &__content {
    min-width: 0;
  }

  &__tabs {
    overflow: visible;
  }

  &__tabs-btns {
    margin-bottom: 3.7rem;

    @include breakpoint(mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;

      & > * {
        width: 100%;
      }
    }
  }

  &__tabs-btn {
    border-color: var(--primary-color);
    color: var(--black);
    svg {
      fill: var(--primary-color);
    }

    &.swiper-button-disabled {
      background-color: var(--black);
      border-color: var(--black);
      color: white;
    }

    &:hover {
      color: white;
    }

    &:focus-visible {
      color: white;
    }
  }

  &__tabs-container {

  }

  &__tab-item {
    
  }

  &__tab-map {
    position: relative;

    height: 49rem;

    background-color: var(--secondary-grey);
  }

  &__tab-map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: rgba(233, 208, 172, 0.5);

    transition: opacity $base-transition-time $base-transition-easing, visibility $base-transition-time $base-transition-easing;

    svg {
      width: 6rem;
      height: 6rem;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__tab-scheme-block {
    @include breakpoint(mobile) {
      margin: 0 calc(-1 * var(--content-padding));
    }
  }

  &__tab-scheme-form {
    padding-bottom: 2.4rem;

    .search-form__filter-btns {
      margin-bottom: 0;
    }

    @include breakpoint(mobile) {
      margin-bottom: 0.2rem;
      padding-top: 2.4rem;
      padding-left: var(--content-padding);
      padding-right: var(--content-padding);

      background-color: #EEEDED;

      .search-form__filter-btns {
        order: unset;
        grid-template-columns: repeat(2, 1fr);
      }
      .search-form__input {
        background-color: white;
      }
    }
  }

  &__tab-scheme-inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.2rem;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__tab-scheme-selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;

    border: none;

    & > * {
      flex-shrink: 0;

      min-width: 20rem;
    }

    @include breakpoint(small-tablet) {
      & > * {
        min-width: 16rem;
      }
    }

    @include breakpoint(mobile) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & > * {
        width: 100%;
        min-width: unset;
      }
    }
  }

  &__tab-scheme {
    height: 60rem;

    background-color: #EEEDED;

    @include breakpoint(mobile) {
      height: 33rem;
    }
  }

  &__form-wrapper {
    padding: 4.8rem 0;
  }
}