.form {

  &__title {
    max-width: 40rem;
    margin-bottom: 2.4rem;

    @extend %fs-h3;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    margin-bottom: 1.6rem;

    @include breakpoint(small-mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__row-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    @include breakpoint(small-mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__file-input-wrapper {
    position: relative;
    
    display: grid;
    grid-template-columns: 1fr 2.4rem;
    align-items: center;
    gap: 1rem;

    padding: 1rem 1.6rem;

    border: dotted 0.1rem var(--dark);

    @extend %fs-t6;
    @extend %secondary-ff;
    color: var(--secondary-dark);
    opacity: 0.5;

    cursor: pointer;

    svg {
      flex-shrink: 0;

      width: 2.4rem;
      height: 2.4rem;

      fill: var(--primary-color);
    }
  }

  &__file-input {
    @include visuallyHidden;
  }

  &__file-input-label {
    flex-grow: 1;

    position: relative;

    display: block;
    max-width: 100%;
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;

    &--wide {
      grid-column: span 2;

      @include breakpoint(small-mobile) {
        grid-column: span 1;
      }
    }
  }

  &__input-label {
    margin-bottom: 0.4rem;

    @extend %fs-t6;
    @extend %secondary-ff;
  }

  &__input {
    padding: 1.1rem 1.6rem;
    background-color: var(--secondary-light);

    border-bottom: 1px solid var(--secondary-light);

    transition: border-color $base-transition-time $base-transition-easing;

    @extend %fs-t6;
    @extend %secondary-ff;

    &::placeholder {
      @extend %fs-t6;
      @extend %secondary-ff;
      color: var(--secondary-dark);
      opacity: 0.5;
    }

    &:focus {
      border-color: var(--primary-color);
    }

    &.js-error {
      border-color: var(--error);
    }
  }

  &__textarea {
    grid-column: span 2;

    height: 7.4rem;

    @include breakpoint(small-mobile) {
      grid-column: span 1;
    }
  }

  &__policy {
    margin-bottom: 3.6rem;
  }

  &__policy-text {
    @extend %fs-t6;
    @extend %secondary-ff;
    color: rgba(#212121, 0.5);

    a {
      text-decoration: underline;
      transition: color $base-transition-time $base-transition-easing;

      &:hover {
        color: rgba(#212121, 1);
      }
      &:focus-visible {
        color: rgba(#212121, 1);
      }
    }
  }

  &__submit {
    min-height: 4.2rem;

    transition: opacity $base-transition-time $base-transition-easing;

    @include breakpoint(small-mobile) {
      width: 100%;
    }

    &.disabled {
      opacity: 0.8;
      cursor: default;

      &:hover {
        color: var(--white) !important;
      }

      &:focus-visible {
        color: var(--white) !important;
      }
    }
  }
}

.form--v2 {
  .form__textarea {
    min-height: 4.4rem;
    height: 4.4rem;
    max-height: 7.4rem;

    resize: vertical;

    @include breakpoint(small-mobile) {
      height: 7.4rem;
      resize: none;
    }
  }
}