.header {
  position: fixed;
  left: 0;
  top: calc(-1 * var(--js-secondary-header-height));
  z-index: 102;

  width: 100%;

  background-color: black;

  transition: top $base-transition-time $base-transition-easing;

  &.opened {
    top: 0;
  }

  .logo {
    display: inline-flex;

    @include breakpoint(tablet) {
      display: none;
    }

    transition: opacity $base-transition-time $base-transition-easing, visibility $base-transition-time $base-transition-easing;
  
    img {
      width: 34.7rem;
      height: auto;
  
      object-fit: contain;

      @include breakpoint(large-desktop) {
        width: 24rem;
      }
      @include breakpoint(desktop) {
        width: 20rem;
      }
    }
  }

  .socials {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  // Upper Header
  // ######
  
  &__secondary-block {
    padding: 1.2rem 0;

    background-color: var(--white);

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__secondary-block-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    row-gap: 0.4rem;

    flex-wrap: wrap;

    @extend %secondary-ff;
  }

  &__address {
    @extend %fs-t6;
  }

  &__working-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;

    @extend %fs-t6;

    & * {
      flex-shrink: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.6rem;
    row-gap: 1rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      flex-shrink: 0;

      width: 2rem;
      height: 2rem;
      margin-right: 1.2rem;

      transition: fill $base-transition-time $base-transition-easing;

      
    }

    &:focus-visible {
      svg {
        fill: var(--primary-color);
      }

      .header__btn-label {
        color: var(--primary-color);
      }

      .header__btn-label::after {
        background-color: var(--primary-color);
      }
    }
    
    &:hover {
      svg {
        fill: var(--primary-color);
      }

      .header__btn-label {
        color: var(--primary-color);
      }

      .header__btn-label::after {
        background-color: var(--primary-color);
      }
    }
  }

  &__btn-label {
    flex-shrink: 0;

    position: relative;

    @include clamp(12, 14);
    font-weight: 400;
    line-height: 1.5;

    transition: color $base-transition-time $base-transition-easing;

    @media (min-width: 1681px) {
      font-size: 1.4rem;
    }

    &::after {
      content: '';
      
      position: absolute;
      bottom: 4px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: var(--dark);

      transition: background-color $base-transition-time $base-transition-easing;
    }
  }

  // Main Header
  // ######

  &__main-block {
    color: var(--white);

    padding: 2rem 0;

    @include breakpoint(tablet) {
      padding: 1.5rem 0;
    }
  }

  &__main-block-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    @include breakpoint(laptop) {
      gap: 2rem;
    }
  }

  &__menu-block {
    flex-grow: 1;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: none;

      img {
        height: 3rem;
        width: auto;
        margin-right: 1.6rem;
      }

      @include breakpoint(tablet) {
        display: block;
      }
    }
  }

  &__menu {
    margin-right: 4rem;

    transition: opacity $base-transition-time $base-transition-easing, visibility $base-transition-time $base-transition-easing;

    @include breakpoint(desktop) {
      margin-right: 2rem;
    }
    @include breakpoint(tablet) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2.4rem;
      row-gap: 0.4rem;
      flex-wrap: wrap;

      @include breakpoint(laptop) {
        gap: 1.4rem;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    a {
      @extend %fs-h6;

      transition: color $base-transition-time $base-transition-easing;

      &:hover {
        color: var(--primary-color);
      }
      &:focus-visible {
        color: var(--primary-color);
      }

      @include breakpoint(laptop) {
        @include clamp(9, 11);
      }
    }
  }

  // ******
  // Burger Menu

  &__burger-block {
    position: relative;
  }

  &__burger {
    transition: opacity $base-transition-time $base-transition-easing, visibility $base-transition-time $base-transition-easing;

    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }
    &:focus-visible {
      svg {
        fill: var(--primary-color);
      }
    }

    svg {
      width: 2rem;
      height: 1.2rem;

      transition: fill $base-transition-time $base-transition-easing;

      
    }
  }

  &__burger-menu {
    position: absolute;
    top: calc(100% + 1.8rem);
    left: 0;
    z-index: 15;

    width: max-content;
    padding: 1.6rem 6.4rem 1.6rem 1.6rem;
    
    background-color: var(--white);
    color: var(--secondary-dark);

    @extend %fs-h7;

    filter: drop-shadow(0px 67px 80px rgba(0, 0, 0, 0.14)) drop-shadow(0px 8px 34.87px rgba(0, 0, 0, 0.083455)) drop-shadow(0px 4.45557px 5.32008px rgba(0, 0, 0, 0.056545));

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.6rem;
    }

    a {
      transition: color $base-transition-time $base-transition-easing;

      
      
      &:focus-visible {
        color: var(--dark);
      }
      &:hover {
        color: var(--dark);
      }
    }

    opacity: 0;
    visibility: hidden;

    transition: opacity $base-transition-time $base-transition-easing, visibility $base-transition-time $base-transition-easing;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  // ******
  // Search Btn

  &__open-search {
    transition: left $base-transition-time $base-transition-easing;
    left: 1.6rem;

    &:focus-visible {
      svg {
        fill: var(--primary-color);
      }
    }

    &:hover {
      svg {
        fill: var(--primary-color);
      }
    }

    svg {
      width: 2rem;
      height: 2rem;

      transition: fill $base-transition-time $base-transition-easing;
    }
  }

  // ******
  // Search

  .header__menu-block.js-search-wrapper {
    padding-right: 1.6rem;
    padding-left: 1.6rem;

    &.active {

      
      .search-block {
        width: 100%;

        transition: width 0.5s $base-transition-easing;
      }

      .header__open-search {
        left: 0;

        svg {
          fill: var(--dark);
        }
      }

      .header__burger {
        opacity: 0;
        visibility: hidden;
      }

      .logo {
        opacity: 0;
        visibility: hidden;
      }

      .header__menu {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__ghost-mobile {
    display: none;

    @include breakpoint(tablet) {
      display: block;
    }
  }
}