.image-modal {
  &__slider {
    height: 100%;

    overflow: visible;
  }

  &__slider-wrapper {
  }

  &__slide {
  }

  &__slide-image {
    display: block;

    max-width: 80vw;
    max-height: 80vh;
    height: auto;
    width: auto;

    object-fit: contain;
  }
}