.image-modal {
  &__slider {
    height: 100%;

    overflow: visible;
  }

  &__slider-wrapper {
  }

  &__slide {
  }

  &__slide-image {
    display: block;

    max-width: 80vw;
    max-height: 80vh;
    height: auto;
    width: auto;

    object-fit: contain;
  }

  &__slide-label {
    margin-top: 1.6rem;

    @extend %fs-t4;
    @extend %secondary-ff;
    color: var(--secondary-dark);

    display: block;

    text-align: center;
  }
}