.intro {

  // ******
  // Intro Info

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    margin-top: 6rem;
    margin-bottom: 6rem;

    text-transform: uppercase;

    @include breakpoint(desktop) {
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      gap: 1.6rem;
    }
  }

  &__info-address {
    @extend %fs-h5;

    @include breakpoint(laptop) {
      @include clamp(12, 14);
    }
    @include breakpoint(small-tablet) {
      text-align: center;
    }
  }

  &__info-working-time {
    @extend %fs-h5;

    @include breakpoint(laptop) {
      @include clamp(12, 14);
    }

    & > * {
      display: block;

      @include breakpoint(small-tablet) {
        text-align: center;
      }
    }
  }

  &__info-btns {
    position: relative;
    z-index: 2;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    @include breakpoint(small-tablet) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  // ******
  // Intro Two Column

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }

  // ******
  // Intro Slider Block

  &__slider-block {
    grid-column: span 2;

    @include breakpoint(tablet) {
      grid-column: span 3;
    }
  }

  // ******
  // Intro Card Block

  &__favorite-promotion {
    grid-column: span 1;

    position: relative;
    z-index: 2;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  // ******
  // Intro Slider

  &__slider-mobile {
    @include breakpoint(small-mobile) {
      padding: 0;
    }
  }

  &__slider-wrapper {
    position: relative;
    z-index: 2;
  }

  &__slider-btns {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    z-index: 5;

    @include breakpoint(tablet) {
      display: none !important;
    }
  }

  // ******
  // Intro Slide

  &__slide {
    background-color: #D2D0D5;
  }

  &__slide-link {
    position: relative;

    height: 0;
    padding-bottom: calc(50% - 1.2rem); // 1.2 = gap / 2

    overflow: hidden;

    &:focus-visible {
      img {
        transform: scale(1.05);
        transition: transform 1s $base-transition-easing;
      }
    }
    &:hover {
      img {
        transform: scale(1.05);
        transition: transform 1s $base-transition-easing;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;

      transition: transform $base-transition-time $base-transition-easing;

      transform: translate3d(0,0,0);
    }

    @include breakpoint(tablet) {
      padding-bottom: 0;
      min-height: 37.5rem;
    }
  }

  &__slide-content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    width: 100%;
    height: 100%;
    z-index: 5;

    padding: 5rem;

    @include breakpoint(tablet) {
      padding: 3.4rem;
    }
    @include breakpoint(small-mobile) {
      padding: 3.4rem 2.4rem;
    }
  }

  &__slide-title {
    max-width: 50%;
    margin-bottom: 2.6rem;

    @extend %fs-h1;

    @include breakpoint(tablet) {
      max-width: 25rem;
      margin-bottom: 1.6rem;
    }
  }

  &__slide-subtitle {
    max-width: 24.5rem;

    @extend %secondary-ff;
    @extend %fs-t4;
  }

  &__slide-btn {
    min-height: 4.4rem;
  }
}