.newslist {

  padding-bottom: 7.2rem;

  background-color: var(--secondary-grey);

  @include breakpoint(mobile) {
    padding-top: 3.2rem;
    padding-bottom: 4.8rem;
  }

  &__header-block {
    margin-top: 7.2rem;
    margin-bottom: 3.6rem;

    @include breakpoint(mobile) {
      margin-top: 0;
      margin-bottom: 2.4rem;
    }
  }

  &__header-block-title {
    @extend %fs-h2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2.4rem;

    &.js-ajax-elements-container {
      transition: opacity $base-transition-time $base-transition-easing;
    }
    &.js-ajax-elements-container.loading {
      opacity: 0.5;
    }
  }

  &__card-wrapper {
    position: relative;

    margin-bottom: 1.2rem;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    min-height: 18rem;
    padding: 2rem;
    padding-right: 30rem;

    background: #FFFFFF;

    box-shadow: 0px -2px 21px rgba(0, 0, 0, 0.03), 0px 100px 80px rgba(23, 33, 51, 0.04), 0px 12px 10.0172px rgba(23, 33, 51, 0.02);
    border-radius: 2px;

    transition: box-shadow $base-transition-time $base-transition-easing;

    &:focus-visible {
      box-shadow: 0px -2px 21px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(23, 33, 51, 0.05), 0px 12px 10.0172px rgba(23, 33, 51, 0.05);

      .newslist__card-name {
        color: var(--primary-color);
      }
    }
    &:hover {
      box-shadow: 0px -2px 21px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(23, 33, 51, 0.05), 0px 12px 10.0172px rgba(23, 33, 51, 0.05);

      .newslist__card-name {
        color: var(--primary-color);
      }
    }

    @include breakpoint(tablet) {
      padding-right: 8.4rem;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 2rem;
    }
  }

  &__card-image-wrapper {
    flex-basis: 28.7rem;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    @include breakpoint(mobile) {
      flex-basis: 14rem;
      padding: 0;
    }
  }

  &__card-image {
    max-height: 10rem;
    max-width: 20rem;
  }

  &__card-text {
    flex-grow: 1;

    @include breakpoint(mobile) {
      margin-right: auto;
    }
  }

  &__card-name {
    margin-bottom: 1.6rem;

    @include clamp(17, 22);
    line-height: 1.3;
    font-weight: 500;

    transition: color $base-transition-time $base-transition-easing;

    @media (min-width: 1681px) {
      font-size: 2.2rem;
    }
  }

  &__card-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;

    @extend %fs-h6;
    color: var(--grey);
  }

  &__card-time {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__card-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    padding: 0.9rem 1.4rem;

    border: 1px solid var(--secondary-grey);
    box-sizing: border-box;
    border-radius: 2px;

    transition: color $base-transition-time $base-transition-easing, border-color $base-transition-time $base-transition-easing, background-color $base-transition-time $base-transition-easing;

    &:focus-visible {
      background-color: var(--dark);
      border-color: var(--dark);
      color: var(--primary-color);
    }
    &:hover {
      background-color: var(--dark);
      border-color: var(--dark);
      color: var(--primary-color);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    @include breakpoint(tablet) {
      right: 2rem;

      justify-content: center;

      height: 4.4rem;
      width: 4.4rem;
      padding: 0;

      border-radius: 50%;

      .newslist__card-btn-label {
        display: none
      }

      svg {
        fill: var(--primary-color);
      }

      &:focus-visible {
        svg {
          fill: var(--white);
        }
      }
      &:hover {
        svg {
          fill: var(--white);
        }
      }
    }
    @include breakpoint(mobile) {
      top: unset;
      bottom: 2rem;
      transform: translateY(0);
    }
  }

  &__card-btn-label {
    @include clamp(9, 11);
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;

    @media (min-width: 1681px) {
      font-size: 1.1rem;
    }
  }

  &__more-container {
    display: flex;
    justify-content: center;

    margin-top: 2.8rem;
  }

  &__more {
    min-height: 4.2rem;

    @include breakpoint(mobile) {
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      color: var(--black) !important;
      border-color: var(--black);
    }
  }

  &__open-mobile-filter {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;

    display: none;
    align-items: center;
    justify-content: center;

    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;

    background-color: var(--primary-color);

    box-shadow: 0px 67px 80px rgba(0, 0, 0, 0.14), 0px 8px 34.87px rgba(0, 0, 0, 0.083455), 0px 4.45557px 5.32008px rgba(0, 0, 0, 0.056545);

    transition: background-color $base-transition-time $base-transition-easing;

    svg {
      width: 2.4rem;
      height: 2.4rem;

      fill: var(--white);

      transition: fill $base-transition-time $base-transition-easing;
    }

    &:hover {
      background-color: var(--dark);
      svg {
        fill: var(--primary-color);
      }

      .newslist__open-mobile-filter-dot {
        background-color: var(--white);
      }
    }

    @include breakpoint(mobile) {
      display: flex;
    }
  }

  &__open-mobile-filter-dot {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;

    width: 8px;
    height: 8px;

    border-radius: 50%;

    background-color: black;

    transition: background-color $base-transition-time $base-transition-easing;
  }
}