.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__input-wrapper {
    width: 100%;
    margin-bottom: 5.6rem;

    @include breakpoint(mobile) {
      margin-bottom: 2.4rem;
    }
  }

  &__no-result {
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;

    margin-top: 1rem;

    @extend %fs-t4;
    color: var(--error);

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
    
    &.visible {
      display: flex;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    border-bottom: 3px solid black;

    @include breakpoint(mobile) {
      border-bottom: none;

      padding: 0 1.6rem 0 2.6rem;

      border-radius: 3rem;

      background-color: var(--secondary-grey);

      order: 2;
    }

    input {
      flex-grow: 1;

      padding-top: 1.6rem;
      padding-bottom: 1.6rem;

      @extend %fs-t4;
      @extend %secondary-ff;

      &::placeholder {
        @extend %fs-t4;
        @extend %secondary-ff;
        color: var(--secondary-grey);

        @include breakpoint(mobile) {
          color: var(--secondary-dark);
        }
      }

      @include breakpoint(mobile) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  &__btn {
    svg {
      height: 3.6rem;
      width: 3.6rem;
    }

    @include breakpoint(mobile) {
      svg {
        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }

  &__filter-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;

    margin-bottom: 3rem;

    @include breakpoint(mobile) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      width: 100%;

      padding: 4px;
      border: 1px solid #EBEFF3;
      border-radius: 2px;
      order: 1;
      margin-bottom: 1.2rem;
    }
  }

  &__filter-btn-wrapper {
    color: var(--grey);

    @include breakpoint(mobile) {
      color: black;
    }
  }

  &__filter-radio {
    display: block;
    position: relative;

    cursor: pointer;

    transition: color $base-transition-time $base-transition-easing;

    &:focus-visible {
      color: var(--dark);

      .search-form__filter-radio-label::after {
        background-color: var(--dark);
      }
    }
    &:hover {
      color: var(--dark);

      .search-form__filter-radio-label::after {
        background-color: var(--dark);
      }
    }

    input:checked ~ .search-form__filter-radio-label {
      color: var(--dark);

      @include breakpoint(mobile) {
        background-color: black;
        color: white;
      }

      &::after {
        content: none;
      }
    }
  }

  &__filter-radio-label {
    position: relative;

    @extend %fs-h4;

    transition: background-color $base-transition-time $base-transition-easing, color $base-transition-time $base-transition-easing;

    @include breakpoint(mobile) {
      display: block;

      @include clamp(9, 11);
      font-weight: 500;
      line-height: 1;

      padding: 1.2rem 0;
      border-radius: 2px;

      width: 100%;

      text-align: center;
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var(--grey);

      transition: background-color $base-transition-time $base-transition-easing;

      @include breakpoint(mobile) {
        content: none;
      }
    }
  }

  &__filter-radio-input {
  }

  &__filter-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0.6rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    max-height: 50rem;

    transition: max-height 0.5s ease-in;
    overflow: hidden;

    &.hidden {
      max-height: 3.8rem;
      transition: max-height 0.5s ease-out;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__filter-item {
    
  }

  &__filter-checkbox {
    display: block;
    position: relative;

    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus {
      .search-form__filter-checkbox-label {
        color: var(--primary-color);

        &::before {
          background-position-x: 2px;
        }
      }
    }

    input:checked ~ .search-form__filter-checkbox-label {
      background-color: var(--primary-color);

      &:focus-visible {
        color: var(--dark);
      }
      &:hover {
        color: var(--dark);
      }

      &::before {
        background-image: url(../img/icons/close-small.svg);
      }
    }
  }

  &__filter-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0.8rem 1.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 2px;

    @include clamp(9, 11);
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;

    transition: color $base-transition-time $base-transition-easing;

    
    cursor: pointer;

    &::before {
      content: '';

      position: relative;

      width: 2rem;
      height: 2rem;

      background-image: url(../img/hashtag.svg);
      background-repeat: no-repeat;
      background-size: 2rem 2rem;

      transition: background-position $base-transition-time $base-transition-easing;

      
    }
  }

  &__filter-checkbox-input {
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.2rem;

    margin-top: 1rem;

    @extend %secondary-ff;
    @extend %fs-t6;

    @include breakpoint(mobile) {
      display: none;
    }

    &.hidden {
      display: none;
    }
  }

  &__hide-btn {
    position: relative;

    transition: color $base-transition-time $base-transition-easing;

    &:hover,
    &:focus-visible {
      color: var(--grey);

      &::after {
        background-color: var(--grey);
      }
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 3px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: var(--dark);

      transition: background-color $base-transition-time $base-transition-easing;
    }
  }

  &__reset-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;

    color: var(--error);

    transition: opacity $base-transition-time $base-transition-easing;

    &:focus-visible {
      opacity: 0.8;
    }
    &:hover {
      opacity: 0.8;
    }

    svg {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &__reset-btn-label {
    position: relative;

    &::after {
      content: '';

      position: absolute;
      bottom: 3px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: var(--error);

      transition: background-color $base-transition-time $base-transition-easing;
    }
  }
}

// ******
// MOBILE MODAL

.serach-form__mobile-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  
  height: 100%;
  margin-top: 2.4rem;

  .search-form__filter-list {
    display: flex !important;
  }

  .search-form__filter-list {
    max-height: unset;
  }

  .search-form__filter-checkbox {
    input:checked ~ .search-form__filter-checkbox-label {
      color: var(--black);
    }
  }
}

.search-form__mobile-form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
}

.search-form__mobile-form-reset {
  flex-grow: 1;

  min-height: 4.2rem;

  border-color: var(--white);
}

.search-form__mobile-form-submit {
  flex-grow: 1;

  min-height: 4.2rem;
}