.search {
  padding-bottom: 4.8rem;

  background: linear-gradient(180deg, #FFFFFF 37.5%, var(--secondary-grey) 100%);

  @include breakpoint(tablet) {
    margin-top: 2.4rem;
  }

  @include breakpoint(mobile) {
    background: var(--white);
    padding-bottom: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__title-block {
    grid-column: span 1;
  }

  &__title {
    @extend %fs-h1;
  }

  &__form {
    grid-column: span 2;
    margin-top: 1rem;

    @include breakpoint(tablet) {
      grid-column: span 1;
      margin-top: 0;
    }
  }
}