.search-block {

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  width: 0;
  height: auto;

  border-radius: 2rem;

  transition: width $base-transition-time $base-transition-easing;

  overflow: hidden;

  &__input {
    padding: 1rem 4rem 1rem 1.6rem;

    border-radius: 2rem;

    background-color: white;

    &::placeholder {
      @extend %secondary-ff;
      @extend %fs-t6;
    }
  }
}