.sections {
  position: relative;

  padding: 7.2rem 0;

  @include breakpoint(mobile) {
    padding-top: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }

  &__content {
    grid-column: span 2;

    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2.4rem;

    padding-bottom: 7.2rem;
    border-bottom: 3px solid var(--primary-color);

    @include breakpoint(tablet) {
      grid-column: span 3;
      border-bottom: none;
      padding-bottom: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
    }
  }

  // ******
  // Names

  &__names {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;

    @include breakpoint(small-tablet) {
      grid-column: span 1
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;

    &::after {
      content: none;

      flex-grow: 1;

      height: 0.3rem;
      max-width: 7rem;

      background-color: var(--primary-color);
    }

    &.active .sections__btn {
      color: var(--dark);

      &::after {
        content: none;
      }
    }

    &.active::after {
      content: '';
    }
  }

  &__btn {
    flex-shrink: 0;

    position: relative;

    @extend %fs-h2;
    color: var(--grey);

    transition: color $base-transition-time $base-transition-easing;

    

    &:focus-visible {
      color: var(--dark);

      &::after {
        background-color: var(--dark);
      }
    }
    &:hover {
      color: var(--dark);

      &::after {
        background-color: var(--dark);
      }
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var(--grey);
      transition: background-color $base-transition-time $base-transition-easing;
    }
  }

  // ******
  // Bodies

  &__content-block {
    grid-column: span 5;

    min-width: 0;

    @include breakpoint(small-tablet) {
      grid-column: span 1
    }
  }

  &__body {
    padding-bottom: 0.4rem;
  }

  &__body-text {
    margin-bottom: 3.8rem;

    @extend %secondary-ff;
    @extend %fs-t4;

    @include breakpoint(small-tablet) {
      max-width: 32rem;
    }
  }

  &__body-link {
    width: fit-content;
    margin-top: 3.2rem;
  }

  // ******
  // Icons

  --disk-size: 70rem;

  @include breakpoint(tablet) {
    --disk-size: 40rem;
  }

  &__icons-block {
    position: absolute;
    top: calc(-1 * var(--disk-size) / 2);
    right: calc(-1 * var(--disk-size) / 2);

    @include breakpoint(tablet) {
      top: unset;
      bottom: calc(-1 * var(--disk-size) / 2);
    }
  }

  &__disk {
    width: var(--disk-size);
    height: var(--disk-size);

    border-radius: 50%;

    background-color: var(--primary-color);
  }

  &__icons-slider-container {
    position: absolute;
    bottom: 0;
    left: 0;

    min-width: 0;
    width: calc(var(--disk-size) / 2);
    height: calc(var(--disk-size) / 2);

    @include breakpoint(tablet) {
      top: 0;
      bottom: unset;
    }
  }

  &__icons-slider {
    height: 100%;
  }

  &__icons {
   width: 100%;
   height: 100% !important;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100% !important;

    @include breakpoint(tablet) {
      justify-content: flex-end;
    }

    &.swiper-slide-active img {
      transform: translateY(0);
    }

    img {
      width: 12rem;
      height: auto;

      object-fit: contain;

      transform: translateY(2rem);
      transition: transform 0.4s ease-out;

      @include breakpoint(tablet) {
        width: 6rem;
      }
    }
  }
}