.slider-section {
  padding: 7.2rem 0;

  @include breakpoint(tablet) {
    padding: 4.2rem 0 2.4rem;
  }

  &__text-block {
    position: relative;
    z-index: 3;
  }

  &__icon {
    position: absolute;

    right: 0;
    bottom: 0;

    height: 24rem;
    width: auto;
    max-width: unset;
    margin-bottom: 4.2rem;
    
    object-fit: contain;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__title {
    @extend %fs-h2;
  }

  &__text {
    margin-top: 3.6rem;

    @include breakpoint(tablet) {
      margin-top: 2.4rem;
    }
  }

  &__slider-block {
    min-width: 0;
  }
}