.socials {
  flex-shrink: 0;
  
  display: flex;
  gap: 2.7rem;
  row-gap: 0.4rem;

  @include breakpoint(desktop) {
    gap: 1.6rem;
  }

  &--light {
    .socials__item-link {
      &:hover svg {
        fill: var(--grey);
      }
  
      &:focus-visible svg {
        fill: var(--grey);
      }
  
      svg {
        fill: var(--black);
      }
    }
  }

  &__item-link {

    &:hover svg {
      fill: var(--white);
    }

    &:focus-visible svg {
      fill: var(--white);
    }

    svg {
      width: 2rem;
      height: 2rem;

      transition: fill $base-transition-time $base-transition-easing;

      fill: var(--primary-color);
    }
  }
}