// ******
// Button
// --filled

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  border: 1px solid var(--dark);
  padding: 0.9rem 4.6rem;
  border-radius: 2px;

  @include clamp(9, 11);
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;

  user-select: none;

  transition: color $base-transition-time $base-transition-easing, background-color $base-transition-time $base-transition-easing;

  @include breakpoint(mobile) {
    padding: 0.9rem 1.6rem;
  }

  &:focus-visible,
  &:hover {
    background-color: var(--dark);
    color: var(--primary-color);
  }

  &--filled {
    background-color: var(--dark);

    color: var(--white) !important;

    box-shadow: var(--btn-shadow);

    &:focus-visible,
    &:hover {
      color: var(--primary-color) !important;
    }
  }

  &--filled-gold {
    background-color: var(--primary-color);

    color: var(--black) !important;

    box-shadow: var(--btn-shadow);

    &:focus-visible,
    &:hover {
      background-color: var(--dark);
      color: var(--primary-color) !important;
    }
  }

  &--narrow {
    padding: 0.9rem 1.6rem;
  }

  & > * {
    flex-shrink: 0;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

// ******
// Hashtags

.hashtags {

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;

  max-width: 38rem;

  &__item {

  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include clamp(9, 11);
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;

    transition: color $base-transition-time $base-transition-easing;

    &:hover,
    &:focus {
      color: var(--primary-color);

      &::before {
        background-position-x: 2px;
      }
    }

    &::before {
      content: '';

      position: relative;

      width: 2rem;
      height: 2rem;

      background-image: url(../img/hashtag.svg);
      background-repeat: no-repeat;
      background-size: 2rem 2rem;

      transition: background-position $base-transition-time $base-transition-easing;
    }
  }
}