<section class="benefits">
  <div class="container">
    <div class="benefits__inner js-image-container">
      <div class="benefits__tabs-container js-init-tabs">
        <div class="benefits__tabs js-tabs">
          <button class="button button--narrow benefits__tabs-btn js-tab active" type="button">инфорация о тц</button>
          <button class="button button--narrow benefits__tabs-btn js-tab" type="button">окружение тц</button>
        </div>
        <div class="swiper benefits__bodies-slider js-bodies">
          <ul class="swiper-wrapper benefits__bodies-wrapper">
            <li class="swiper-slide benefits__item-wrapper">
              {{>benefits-item data=benefits1}}
            </li>
            <li class="swiper-slide benefits__item-wrapper">
              {{>benefits-item data=benefits2}}
            </li>
          </ul>
        </div>
      </div>
      <div class="ghost"></div>
      <div class="benefits__image js-image">
        <img class="lazyload" src="img/content/map.jpg" alt="Карта">
      </div>
    </div>
  </div>
</section>