<section class="breadcrumbs">
    <div class="container">
        <nav class="breadcrumbs__list">
            {{#each breadcrumbs}}
            <a href="{{this.link}}">{{this.name}}</a>
            {{/each}}
        </nav>
    </div>
</section>