<a class="card" href="#">
    <img src="img/content/card.jpg" alt="Карточка">
    <div class="card__overlay"></div>
    <div class="card__content">
        <ul class="card__tags">
            <li>акция</li>
            <li>зоотовары</li>
        </ul>
        <h3 class="card__title">Скидка на зоотовары</h3>
        <div class="card__description">
            <p>В Детском мире скидка 10% на широкий ассортимент зоотоваров</p>
        </div>
    </div>
</a>