<div class="js-cards-search-form-wrapper">
    {{>search}}

    <section class="cardslist">
        <div class="container js-ajax-show-more-container">
            <ul class="cardslist__list js-ajax-elements-container js-search-form-elements-container">
                {{#each cardsData.cards}}
                <li class="cardslist__item js-ajax-element js-search-form-element">
                    {{>card this}}
                </li>
                {{/each}}
            </ul>
            <div class="cardslist__more-container js-ajax-show-more-btn-container">
                <a class="button button--filled cardslist__more js-ajax-show-more-btn" href="#">Показать еще</a>
            </div>
        </div>
    </section>
</div>

<template id="cardsListItemTemplate">
    <li class="cardslist__item js-ajax-element">
        <a class="card" href="">
            <img class="lazyload" src="" alt="">
            <div class="card__overlay"></div>
            <div class="card__content">
                <ul class="card__tags">
                    
                </ul>
                <h3 class="card__title"></h3>
                <div class="card__description">
                    
                </div>
            </div>
        </a>
    </li>
</template>