<section class="contacts-section">
  <div class="container container--grid">
    <div class="contacts-section__links-block">
      <h2 class="contacts-section__title">Контакты</h2>
      <ul class="contacts-section__links">
        <li class="contacts-section__link-wrapper">
          <a class="contacts-section__link" href="mailto:info@globalmall.ru">
            <svg><use xlink:href="#mail"></svg>
            <div class="contacts-section__link-text">
              <span class="contacts-section__link-name">info@globalmall.ru</span>
              <span class="contacts-section__link-description">По общим вопросам и вопросам аренды</span>
            </div>
          </a>
        </li>
        <li class="contacts-section__link-wrapper">
          <a class="contacts-section__link" href="mailto:reklama@globalmall.ru">
            <svg><use xlink:href="#mail"></svg>
            <div class="contacts-section__link-text">
              <span class="contacts-section__link-name">reklama@globalmall.ru</span>
              <span class="contacts-section__link-description">По вопросам рекламы и маркетинга</span>
            </div>
          </a>
        </li>
        <li class="contacts-section__link-wrapper">
          <a class="contacts-section__link" href="mailto:rabota@globalmall.ru">
            <svg><use xlink:href="#mail"></svg>
            <div class="contacts-section__link-text">
              <span class="contacts-section__link-name">rabota@globalmall.ru</span>
              <span class="contacts-section__link-description">По вопросам трудоустройства в торговый центр</span>
            </div>
          </a>
        </li>
      </ul>
      {{>dowload-file}}
    </div>
    <div class="contacts-section__form">
      {{#if calc}}
        {{>calc-form}}
      {{else}}
        {{>feedback-form}}
      {{/if}}
    </div>
  </div>
</section>