<section class="detail">
  <div class="container container--grid">
    <div class="detail__header">
      <h1 class="detail__title">{{name}}</h1>
      {{#if showDate}}
      <time class="detail__date" datetime="2019-01-14">14.01.2019</time>
      {{/if}}
      {{>hashtags data=hashtags}}
    </div>
    <div class="detail__content">
      {{#if imageSlider}}
      <div class="swiper detail__slider js-init-slider" data-slides="1.5" data-space="24" data-delay="3000" data-loop="1">
        <ul class="swiper-wrapper detail__slider-wrapper">
            {{#each imageSlider}}
            <li class="swiper-slide detail__slide">
                <div class="detail__slide-image" data-hystmodal="#image-modal">
                  <img class="js-image" src="{{this}}" alt="{{name}}">
                  <div class="detail__slide-image-overlay">
                    <svg><use xlink:href="#arrows"></svg>
                  </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="slider__btns slider__btns--vertical detail__slider-btns js-slider-navigation">
            {{>utils/slider-buttons}}
        </div>
      </div>
      {{/if}}

      <div class="detail__text-container editable-text-container">
        {{{text}}}

        {{>utils/user-text}}
      </div>

      {{#if onMap}}
      <a href="#" class="detail__btn">
          <svg><use xlink:href="#location"></svg>
          <span class="detail__btn-label">Расположение на схеме</span>
      </a>
      {{/if}}
    </div>
  </div>
</section>