<section class="detail">
  <div class="container container--grid">
    <div class="detail__header">
      <h1 class="detail__title">{{name}}</h1>
      {{#if showDate}}
      <time class="detail__date" datetime="2019-01-14">14.01.2019</time>
      {{/if}}
      {{>hashtags data=hashtags}}
    </div>
    <div class="detail__content">
      {{#if imageSlider}}
      {{>images-slider}}
      {{/if}}

      <div class="detail__text-container editable-text-container">
        {{{text}}}

        {{>utils/user-text}}
      </div>

      {{#if onMap}}
      <a class="detail__btn" href="./contacts.html#scheme">
          <svg><use xlink:href="#location"></svg>
          <span class="detail__btn-label">Расположение на схеме</span>
      </a>
      {{/if}}
    </div>
  </div>
</section>