<a class="dowload-file" href="assets/pdf-example.pdf" download>
  <div class="dowload-file__text">
    <span class="dowload-file__name">Презентация рекламных возможностей</span>
    <span class="dowload-file__info">Pdf. 1,32 Мб</span>
  </div>
  <div class="dowload-file__icon-wrapper">
    <svg class="dowload-file__icon"><use xlink:href="#download"></svg>
  </div>
</a>