<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo-block">
                {{>logo img="img/logo-light.svg"}}
                <span class="footer__copyright">Глобал Молл © 2022</span>
                <a class="footer__policy" href="#">Политика конфиденциальности</a>
                <a class="footer__policy" href="#">Обработка персональных данных</a>
            </div>
            <div class="footer__links">
                {{>mobile-menu}}
            </div>
            <div class="footer__copyright-block-mobile">
                <span class="footer__copyright">Глобал Молл © 2022</span>
                <a class="footer__policy" href="#">Политика конфиденциальности</a>
                <a class="footer__policy" href="#">Обработка персональных данных</a>
            </div>
        </div>
    </div>
</footer>