<section class="image-text">
  <div class="container">
    <div class="image-text__inner">
      <div class="image-text__mobile-text">
        {{>points data=points3}}
      </div>
      <div class="image-text__image-block">
        <img class="lazyload" src="img/content/map.jpg" alt="Красивая карта">
      </div>
      <div class="image-text__text-block">
        <h2 class="image-text__title">Удобное расположение — залог&nbsp;успеха </h2>
        <div class="image-text__text editable-text-container">
          <p>ТЦ "Глобал Молл" расположен в Даниловском районе ЮАО Москвы у м. Автозаводская и обладает высочайшей пешей доступностью.</p>
        </div>
        {{>points data=points2}}
        <img class="lazyload image-text__icon" src="img/content/bg-logo-2.svg" alt="Вадим">
      </div>
    </div>
  </div>
</section>