<section class="image">
  <div class="container">
    <div data-hystmodal="#image-modal">
      <img class="lazyload js-image-modal" src="img/content/location.jpg" alt="Удобное расположение">
    </div>
  </div>
</section>