<div class="hystmodal modal-light" id="image-modal" aria-hidden="true">
    <div class="hystmodal__wrap modal-light__wrapper">
        <div class="hystmodal__window modal-light__window" role="dialog" aria-modal="true">
          <button class="modal-light__close-btn" data-hystclose title="Закрыть">
            <svg>
              <use xlink:href="#close-big">
            </svg>
          </button>
          <img class="single-image-modal lazyload js-image" src="" alt="Image Modal">
        </div>
    </div>
</div>