<div class="link-to-page">
  <h2 class="link-to-page__title">Реклама в ТЦ «Глобал Молл»
</h2>
  <div class="link-to-page__text">
    <p>ТЦ «Глобал Молл» отличный инструмент распространения информации для привлечения внимания к вашему обьекту</p>
  </div>
  <a class="button button--filled button--narrow link-to-page__btn" href="/">подробнее</a>
</div>