<div class="hystmodal modal" id="menu-modal" aria-hidden="true">
    <div class="hystmodal__wrap modal__wrapper">
        <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
          <div class="modal__header">
            <div class="container">
              <div class="modal__header-inner">
                <button data-hystclose title="Закрыть">
                  <svg class="accordion-item__btn-icon">
                    <use xlink:href="#menu-back">
                  </svg>
                </button>
                <span class="modal__title">Меню</span>
                <div class="modal__header-ghost"></div>
              </div>
            </div>
          </div>
          <div class="modal__content">
            <div class="container">
              <div class="modal__content-inner">
                 <div class="footer__inner">
                  <nav class="footer__menu-mobile">
                  <ul>
                      <li><a href="/">магазины</a></li>
                      <li><a href="/">услуги</a></li>
                      <li><a href="/">развлечения</a></li>
                      <li><a href="/">рестораны и кафе</a></li>
                      <li><a href="/">новости</a></li>
                      <li><a href="/">акции</a></li>
                  </ul>
              </nav>
              <div class="footer__links-block">
                  <nav class="footer__menu">
                      <ul>
                          <li><a href="/">Торговый центр</a></li>
                          <li><a href="/">Арендаторам</a></li>
                          <li><a href="/">Реклама в ТЦ</a></li>
                          <li><a href="/">Вакансии</a></li>
                          <li><a href="/">Контакты</a></li>
                      </ul>
                  </nav>
                  <address class="footer__address">м. Автозаводская, ул.Ленинская Слобода, д. 26, стр.2</address>
                  <div class="footer__working-time">
                      <span>ежедневно 10:00 - 22:00</span>
                      <span>супермаркет 24 часа</span>
                  </div>

                  <div class="footer__buttons-mobile">
                      <a class="button button--filled-gold" href="/">
                          <svg><use xlink:href="#car-1"></svg>
                          <span>Как добраться</span>
                      </a>
                      <a class="button button--filled-gold" href="/">
                          <svg><use xlink:href="#block"></svg>
                          <span>Схема этажей</span>
                      </a>
                  </div>

                  <div class="footer__contacts">
                      <a href="tel:+74951919797" class="footer__tel">+7 (495) 191-97-97</a>
                      <a href="mailto:info@globalmall.ru" class="footer__email">info@globalmall.ru</a>
                  </div>
              </div>

              {{>socials}}
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>