<div class="hystmodal modal" id="menu-modal" aria-hidden="true">
    <div class="hystmodal__wrap modal__wrapper">
        <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
          <div class="modal__header">
            <div class="container">
              <div class="modal__header-inner">
                <button data-hystclose title="Закрыть">
                  <svg class="accordion-item__btn-icon">
                    <use xlink:href="#menu-back">
                  </svg>
                </button>
                <span class="modal__title">Меню</span>
                <div class="modal__header-ghost"></div>
              </div>
            </div>
          </div>
          <div class="modal__content">
            <div class="container">
              <div class="modal__content-inner">
                {{!-- todo: переписать классы --}}
                <div class="footer__inner">
                  {{>mobile-menu}}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>