<div class="js-newslist-search-form-wrapper">
    {{>search label=this.label}}

    {{>newslist-block}}
</div>

<template id="newsListItemTemplate">
    <li class="newslist__item js-ajax-element js-search-form-element">
        <div class="newslist__card-wrapper">
            <a class="newslist__card" href="">
                <div class="newslist__card-image-wrapper">
                    <img class="lazyload newslist__card-image" src="" alt="">
                </div>
                <div class="newslist__card-text">
                    <h3 class="newslist__card-name"></h3>
                    <div class="newslist__card-info">
                        <span class="newslist__card-floor"></span>
                        <span class="newslist__card-time"></span>
                    </div>
                </div>
            </a>
            <a class="newslist__card-btn" href="./contacts.html#scheme">
                <svg><use xlink:href="#location"></use></svg>
                <span class="newslist__card-btn-label">Расположение на схеме</span>
            </a>
        </div>
        <ul class="hashtags">
        </ul>
    </li>
</template>
<template id="hashtagItemTemplate">
    <li class="hashtags__item">
        <span class="hashtags__link"></span>
    </li>
</template>