<section class="newslist">
    <div class="container">
        {{#if cardsTitle}}
        <div class="newslist__header-block">
            <h2 class="newslist__header-block-title">{{cardsTitle}}</h2>
        </div>
        {{/if}}
        <ul class="newslist__list js-ajax-elements-container js-search-form-elements-container">
            {{#each cardsData}}
            <li class="newslist__item js-ajax-element js-search-form-element">
                {{>newslist-card this}}
            </li>
            {{/each}}
        </ul>
        {{#if noShowMore}}
        
        {{else}}
        <div class="newslist__more-container js-ajax-show-more-btn-container">
            <a class="button button--filled newslist__more js-ajax-show-more-btn js-WP-show-more" href="#">Показать еще</a>
        </div>
        {{/if}}
    </div>
</section>