<section class="parking">
  <div class="container">
    <div class="parking__text-block">
      <h2 class="parking__title">Парковка в&nbsp;Торговом Центре</h2>
      <div class="parking__text editable-text-container">
        <p>Просторная удобная парковка на первом этаже МЦ ROOMER позволит вам не отвлекаться от покупок и отдыха в нашем торговом центре. Также вы можете оставить машину на территории, расположенной вокруг мебельного центра.</p>
        <br>
        <p><b>Время работы парковки - КРУГЛОСУТОЧНО</b></p>
        <p><b>Въезд на парковку с ул. Восточная</b></p>
      </div>
      <div class="parking__time">
        <span class="parking__time-label">С 1 апреля 2019 года действуют следующие тарифы:</span>

        <ul class="parking__time-list">
          <li class="parking__time-item">
            <span class="parking__time-days">Пн-Пт</span>
            <ul class="parking__time-cost-block">
              <li class="parking__time-cost-item">
                <span class="parking__time-cost-value">100 ₽</span>
                <span class="parking__time-cost-description">С первого часа парковки</span>
              </li>
            </ul>
          </li>
          <li class="parking__time-item">
            <span class="parking__time-days">Сб-Вс</span>
            <ul class="parking__time-cost-block">
              <li class="parking__time-cost-item">
                <span class="parking__time-cost-value">бесплатно</span>
                <span class="parking__time-cost-description">Первые 3 часа парковки</span>
              </li>
              <li class="parking__time-cost-item">
                <span class="parking__time-cost-value">100 ₽</span>
                <span class="parking__time-cost-description">Далее стоимость каждого часа</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="parking__image-wrapper">
      <img class="lazyload" src="img/content/parking.jpg" alt="Паркинг">
    </div>
  </div>
</section>