<section class="scheme-section">
  <div class="container container--grid scheme-section__desktop-block">
    <div class="scheme-section__title-block">
      <h2 class="scheme-section__title">схема ТЦ</h2>
      <a class="button button--narrow scheme-section__btn" href="./contacts.html#scheme">
        <svg><use xlink:href="#block"></svg>
        <span>Схема этажей</span>
      </a>
    </div>
    <div class="scheme-section__scheme-block">
      <div class="scheme-section__scheme-desktop">
        <pre>Здесь будет схема этажей</pre>
      </div>
    </div>
  </div>
  <div class="scheme-section__mobile-block">
    <div class="container js-init-tabs scheme-section__mobile-block-content">
      <div class="js-tabs scheme-section__mobile-block-btns">
        <button class="js-tab active scheme-section__mobile-block-btn">1 этаж</button>
        <button class="js-tab scheme-section__mobile-block-btn">2 этаж</button>
      </div>
      <div class="swiper js-bodies scheme-section__mobile-block-slider">
        <ul class="swiper-wrapper scheme-section__mobile-block-slider-wrapper">
          <li class="swiper-slide scheme-section__mobile-block-slider-slide">
            <div class="scheme-section__mobile-sheme-item">
              <pre>Здесь будет схема 1-го этажа</pre>
            </div>
          </li>
          <li class="swiper-slide scheme-section__mobile-block-slider-slide">
            <div class="scheme-section__mobile-sheme-item">
              <pre>Здесь будет схема 2-го этажа</pre>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <a class="button button--narrow scheme-section__btn scheme-section__btn--mobile" href="./contacts.html#scheme">
        <svg><use xlink:href="#block"></svg>
        <span>Схема этажей</span>
      </a>
    </div>
  </div>
</section>