<section class="search">
    <div class="container">
        <div class="search__grid">
            <div class="search__title-block">
                <h1 class="search__title">{{{name}}}</h1>
            </div>
            <div class="search__form">
                <form action="/" name="search" class="search-form js-search-form">
                    <input name="offset" value="8" type="hidden">
                    {{#if hasSearchTextInput}}
                    {{>utils/search-input label=this.label}}
                    {{/if}}
                    {{#if hasFloorInput}}
                    {{>utils/radio-inputs}}
                    {{/if}}
                    {{>filter-buttons}}
                </form>
                {{>mobile-modal-filter}}
            </div>
        </div>
    </div>
</section>