<section class="search">
    <div class="container">
        <div class="search__grid">
            <div class="search__title-block">
                <h1 class="search__title">{{{name}}}</h1>
            </div>
            <div class="search__form">
                <form action="#" name="search" class="search-form js-search-form">
                    <input name="offset" value="8" type="hidden">
                    {{#if hasSearchTextInput}}
                    <div class="search-form__input-wrapper">
                        <div class="search-form__input">
                            <input class="js-text-input" name="search" type="text" placeholder="Поиск по магазинам" autocomplete="off">
                            <button class="search-form__btn js-submit" type="submit">
                                <svg><use xlink:href="#search"></svg>
                            </button>
                        </div>
                        <div class="search-form__no-result js-error-message">
                            <svg><use xlink:href="#info-circle"></svg>
                            <span>Не найдено ни одного магазина</span>
                        </div>
                    </div>
                    {{/if}}
                    {{#if hasFloorInput}}
                    <ul class="search-form__filter-btns">
                        {{#each floors}}
                        <li class="search-form__filter-btn-wrapper">
                            <label class="search-form__filter-radio">
                                <input class="search-form__filter-radio-input visually-hidden js-radio" {{#if this.checked}}checked{{/if}} name="floor" value="{{this.value}}" type="radio">
                                <span class="search-form__filter-radio-label">{{this.name}}</span>
                            </label>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{>filter-buttons}}
                </form>
                {{>mobile-modal-filter}}
            </div>
        </div>
    </div>
</section>