<section class="text-image">
  <div class="container">
    <div class="text-image__inner">
      <div class="text-image__text-block">
        <h2 class="text-image__title">Целевая аудитория ТЦ</h2>
        <div class="text-image__text editable-text-container">
          <p>ТЦ "Глобал Молл" расположен в самом центре развивающегося кластера "Автозаводский", включающий крупнейший деловой-квартал Москвы ДК "Симоновский", развитый жилой массив и большую спортивно-рекреационную зону:</p>
        </div>
        {{>points data=points1 row=true}}
      </div>
      <div class="text-image__image-block" data-hystmodal="#image-modal">
        <img class="lazyload js-image-modal" src="img/content/target-audience.jpg" alt="Целевая аудитория ТЦ">
      </div>
    </div>
  </div>
</section>