<div class="hystmodal modal-light" id="video-modal" aria-hidden="true">
    <div class="hystmodal__wrap modal-light__wrapper">
        <div class="hystmodal__window modal-light__window" role="dialog" aria-modal="true">
          <button class="modal-light__close-btn" data-hystclose title="Закрыть">
            <svg>
              <use xlink:href="#close-big">
            </svg>
          </button>
          <video controls>
            <source src="img/content/Coffee.mp4" type="video/mp4">
          </video>
        </div>
    </div>
</div>