{{#extend "layout"}}
{{#content "main"}}

<section class="error-page">
  <picture>
    <source srcset="img/content/404.jpg" media="(max-width: 576px)">
    <img class="lazyload error-page__image" src="img/content/404.jpg" alt="404">
  </picture>
  <div class="container">
    <div class="error-page__inner">
      <h1 class="error-page__title">404</h1>
      <span class="error-page__subtitle">Cтраница не найдена</span>
      <span class="error-page__text">Чтобы найти интересующую Вас информацию —воспользуйтесь формой поиска</span>
    </div>
  </div>
</section>

{{/content}}
{{/extend}}