{{#extend "layout"}}
{{#content "main"}}

{{>intro-image}}

{{>benefits noSlider=true}}

{{>sections sections=sections2 sectionTitle="Чем заняться в тц globalmall?" mod="grey-line"}}

{{>scheme-section}}

<div class="container">
  <hr>
</div>

{{>parking}}

<div class="container">
  <hr>
</div>

{{>slider-section size="large" data=sliderSection1}}

<div class="container">
  <hr>
</div>

{{>links-to-pages}}

{{/content}}
{{/extend}}