{{#extend "layout"}}
{{#content "main"}}

{{>intro-image anchor="benefits"}}

{{>benefits}}

<div class="container">
  <hr>
</div>

{{>slider-section size="large" data=sliderSection1 idx="1"}}

<div class="container">
  <hr>
</div>

{{>slider-section size="large" data=sliderSection2 idx="2"}}

<div class="container">
  <hr>
</div>

{{>contacts-section}}

{{/content}}
{{/extend}}