{{#extend "layout"}}
{{#content "main"}}

{{>intro-image}}

{{>benefits}}

<div class="container">
  <hr>
</div>

{{>slider-section data=sliderSection1}}

<div class="container">
  <hr>
</div>

{{>slider-section data=sliderSection2}}

<div class="container">
  <hr>
</div>

{{>contacts-section}}

{{/content}}
{{/extend}}