{{#extend "layout"}}
{{#content "main"}}

<section class="breadcrumbs">
    <div class="container">
        <nav class="breadcrumbs__list">
            <a href="/">Главная</a>
            <a class="disabled" href="/">Новости</a>
        </nav>
    </div>
</section>

<section class="search">
    <div class="container">
        <div class="search__grid">
            <div class="search__title-block">
                <h2 class="search__title">Новости</h2>
            </div>
            <div class="search__form">
                <form name="search" class="search-form js-hide-sort-buttons js-backend-submit-handler">
                    <ul class="search-form__filter-list js-hidden-container hidden">
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">все категории</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">открытие</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">электроника</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">распродажа одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">black friday</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">книги</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">открытие</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">электроника</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">распродажа одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">black friday</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">книги</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">одежда</span>
                            </label>
                        </li>
                    </ul>
                    <div class="search-form__footer">
                        <button class="search-form__hide-btn js-hide-btn" type="button">
                            Показать ещё
                        </button>
                        <button class="search-form__reset-btn js-reset" type="button">
                            <svg><use xlink:href="#close-small"></svg>
                            <span class="search-form__reset-btn-label">Сбросить фильтр</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="cardslist">
    <div class="container">
        <ul class="cardslist__list">
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-5.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>распродажа</li>
                            <li>black friday</li>
                        </ul>
                        <h3 class="card__title">Черная пятница</h3>
                        <div class="card__description">
                            <p>Только 7 дней максимальные скидки на товары! Успейте купить, пока он есть в наличии!</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-6.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>электроника</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">открылся новый Эльдорадо</h3>
                        <div class="card__description">
                            <p>В ТЦ «Глобал Молл» открылся новый Эльдорадо.</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--overlay" href="#">
                    <img src="img/content/card-7.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>книги</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">Открылся Книжный Лабиринт</h3>
                        <div class="card__description">
                            <p>50 000 уникальных книг на&nbsp;любой вкус</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-6.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>электроника</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">открылся новый Эльдорадо</h3>
                        <div class="card__description">
                            <p>В ТЦ «Глобал Молл» открылся новый Эльдорадо.</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--overlay" href="#">
                    <img src="img/content/card-7.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>книги</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">Открылся Книжный Лабиринт</h3>
                        <div class="card__description">
                            <p>50 000 уникальных книг на&nbsp;любой вкус</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-5.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>распродажа</li>
                            <li>black friday</li>
                        </ul>
                        <h3 class="card__title">Черная пятница</h3>
                        <div class="card__description">
                            <p>Только 7 дней максимальные скидки на товары! Успейте купить, пока он есть в наличии!</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--overlay" href="#">
                    <img src="img/content/card-7.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>книги</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">Открылся Книжный Лабиринт</h3>
                        <div class="card__description">
                            <p>50 000 уникальных книг на&nbsp;любой вкус</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-5.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>распродажа</li>
                            <li>black friday</li>
                        </ul>
                        <h3 class="card__title">Черная пятница</h3>
                        <div class="card__description">
                            <p>Только 7 дней максимальные скидки на товары! Успейте купить, пока он есть в наличии!</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-6.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>электроника</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">открылся новый Эльдорадо</h3>
                        <div class="card__description">
                            <p>В ТЦ «Глобал Молл» открылся новый Эльдорадо.</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-5.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>распродажа</li>
                            <li>black friday</li>
                        </ul>
                        <h3 class="card__title">Черная пятница</h3>
                        <div class="card__description">
                            <p>Только 7 дней максимальные скидки на товары! Успейте купить, пока он есть в наличии!</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--overlay" href="#">
                    <img src="img/content/card-6.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>электроника</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">открылся новый Эльдорадо</h3>
                        <div class="card__description">
                            <p>В ТЦ «Глобал Молл» открылся новый Эльдорадо.</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--overlay" href="#">
                    <img src="img/content/card-7.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>книги</li>
                            <li>открытие</li>
                        </ul>
                        <h3 class="card__title">Открылся Книжный Лабиринт</h3>
                        <div class="card__description">
                            <p>50 000 уникальных книг на&nbsp;любой вкус</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="cardslist__more-container">
            <a class="button button--filled cardslist__more" href="#">Показать еще</a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}