{{#extend "layout"}}
{{#content "main"}}

<section class="breadcrumbs">
    <div class="container">
        <nav class="breadcrumbs__list">
            <a href="/">Главная</a>
            <a class="disabled" href="/">Акции</a>
        </nav>
    </div>
</section>

<section class="search">
    <div class="container">
        <div class="search__grid">
            <div class="search__title-block">
                <h1 class="search__title">Акции</h1>
            </div>
            <div class="search__form">
                <form name="search" class="search-form js-hide-sort-buttons js-backend-submit-handler">
                    <ul class="search-form__filter-list js-hidden-container hidden">
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">все категории</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">мужская одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">спорт</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">детская одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">кафе</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">Молодежная одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">мужская одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">спорт</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">детская одежда</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">кафе</span>
                            </label>
                        </li>
                        <li class="search-form__filter-item">
                            <label class="search-form__filter-checkbox">
                                <input class="search-form__filter-checkbox-input visually-hidden" name="" value="" type="checkbox">
                                <span class="search-form__filter-checkbox-label">Молодежная одежда</span>
                            </label>
                        </li>
                    </ul>
                    <div class="search-form__footer">
                        <button class="search-form__hide-btn js-hide-btn" type="button">
                            Показать ещё
                        </button>
                        <button class="search-form__reset-btn js-reset" type="button">
                            <svg><use xlink:href="#close-small"></svg>
                            <span class="search-form__reset-btn-label">Сбросить фильтр</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="cardslist">
    <div class="container">
        <ul class="cardslist__list">
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-2.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>спорт</li>
                        </ul>
                        <h3 class="card__title">ликвидация зимних коллекций</h3>
                        <div class="card__description">
                            <p>В Триал-Спорт скидка от 40 до 70%</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-3.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>мужская одежда</li>
                        </ul>
                        <h3 class="card__title">Скидка <br> до 50% <br> в FANT</h3>
                        <div class="card__description">
                            <p>На всю мужскую <br> коллецию</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--light" href="#">
                  <img src="img/content/card-4.jpg" alt="Карточка">
                  <div class="card__overlay"></div>
                  <div class="card__content">
                      <ul class="card__tags">
                          <li>акция</li>
                          <li>одежда</li>
                      </ul>
                      <h3 class="card__title">новая коллекция exalta</h3>
                      <div class="card__description">
                          <p>Теплые куртки, пальто и тренчи 2019 года</p>
                      </div>
                  </div>
              </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--light" href="#">
                  <img src="img/content/card-4.jpg" alt="Карточка">
                  <div class="card__overlay"></div>
                  <div class="card__content">
                      <ul class="card__tags">
                          <li>акция</li>
                          <li>одежда</li>
                      </ul>
                      <h3 class="card__title">новая коллекция exalta</h3>
                      <div class="card__description">
                          <p>Теплые куртки, пальто и тренчи 2019 года</p>
                      </div>
                  </div>
              </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-2.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>спорт</li>
                        </ul>
                        <h3 class="card__title">ликвидация зимних коллекций</h3>
                        <div class="card__description">
                            <p>В Триал-Спорт скидка от 40 до 70%</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-3.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>мужская одежда</li>
                        </ul>
                        <h3 class="card__title">Скидка <br> до 50% <br> в FANT</h3>
                        <div class="card__description">
                            <p>На всю мужскую <br> коллецию</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-3.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>мужская одежда</li>
                        </ul>
                        <h3 class="card__title">Скидка <br> до 50% <br> в FANT</h3>
                        <div class="card__description">
                            <p>На всю мужскую <br> коллецию</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--light" href="#">
                  <img src="img/content/card-4.jpg" alt="Карточка">
                  <div class="card__overlay"></div>
                  <div class="card__content">
                      <ul class="card__tags">
                          <li>акция</li>
                          <li>одежда</li>
                      </ul>
                      <h3 class="card__title">новая коллекция exalta</h3>
                      <div class="card__description">
                          <p>Теплые куртки, пальто и тренчи 2019 года</p>
                      </div>
                  </div>
              </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-2.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>спорт</li>
                        </ul>
                        <h3 class="card__title">ликвидация зимних коллекций</h3>
                        <div class="card__description">
                            <p>В Триал-Спорт скидка от 40 до 70%</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-2.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>спорт</li>
                        </ul>
                        <h3 class="card__title">ликвидация зимних коллекций</h3>
                        <div class="card__description">
                            <p>В Триал-Спорт скидка от 40 до 70%</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
                <a class="card card--light" href="#">
                    <img src="img/content/card-3.jpg" alt="Карточка">
                    <div class="card__overlay"></div>
                    <div class="card__content">
                        <ul class="card__tags">
                            <li>акция</li>
                            <li>мужская одежда</li>
                        </ul>
                        <h3 class="card__title">Скидка <br> до 50% <br> в FANT</h3>
                        <div class="card__description">
                            <p>На всю мужскую <br> коллецию</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cardslist__item">
              <a class="card card--light" href="#">
                  <img src="img/content/card-4.jpg" alt="Карточка">
                  <div class="card__overlay"></div>
                  <div class="card__content">
                      <ul class="card__tags">
                          <li>акция</li>
                          <li>одежда</li>
                      </ul>
                      <h3 class="card__title">новая коллекция exalta</h3>
                      <div class="card__description">
                          <p>Теплые куртки, пальто и тренчи 2019 года</p>
                      </div>
                  </div>
              </a>
            </li>
        </ul>
        <div class="cardslist__more-container">
            <a class="button button--filled cardslist__more" href="#">Показать еще</a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}