{{#extend "layout"}}
{{#content "main"}}

{{>breadcrumbs}}

<section class="contacts">
  <div class="container container--grid">
    <div class="contacts__header">
      <h1 class="contacts__title">{{title}}</h1>
      <div class="contacts__info">
        <div class="contacts__info-item">
          <svg><use xlink:href="#location"></svg>
          <span>{{{contacts.address}}}</span>
        </div>
        <div class="contacts__info-item">
          <svg><use xlink:href="#clock"></svg>
          <div class="contacts__info-item-text-block">
            <span>ежедневно 10:00 - 22:00</span>
            <span>супермаркет 24 часа</span>
          </div>
        </div>
        <a class="contacts__info-link contacts__info-phone" href="tel:+74951919797">
          <svg><use xlink:href="#phone"></svg>
          <span>+7 (495) 191-97-97</span>
        </a>
        <a class="contacts__info-link contacts__info-email" href="mailto:info@globalmall.ru">
          <svg><use xlink:href="#mail"></svg>
          <span class="contacts__info-email-label">info@globalmall.ru</span>
        </a>
        <span class="contacts__info-label">По всем вопросам, коммерческим предложениям и вопросам размещения</span>
        {{>socials mods="socials--light"}}
      </div>
    </div>
    <div class="contacts__content">
      <div class="swiper js-init-slider contacts__tabs" data-fade="1" data-slides="1" data-space="0" data-hash="1" data-no-touch="1">
        <div class="contacts__tabs-btns js-slider-navigation">
          <button class="button button--narrow js-prev-slide" type="button">
              <svg><use xlink:href="#car-1"></svg>
              <span>Как добраться</span>
          </button>
          <button class="button button--narrow js-next-slide" type="button">
              <svg><use xlink:href="#block"></svg>
              <span>Схема этажей</span>
          </button>
        </div>
        <ul class="swiper-wrapper contacts__tabs-container">
          <li class="swiper-slide contacts__tab-item" data-hash="map">
            <div class="contacts__tab-map js-init-map js-init-overlay-map-container"
              data-initial-longitude="55.712142"
              data-initial-latitude="37.656631"
              data-initial-zoom="17"
            >
              <div class="contacts__tab-map-overlay js-init-overlay">
                <svg><use xlink:href="#location"></svg>
              </div>
            </div>
          </li>
          <li class="swiper-slide contacts__tab-item" data-hash="scheme">
            <div class="contacts__tab-scheme"></div>
          </li>
        </ul>
      </div>

      <div class="contacts__form-wrapper">
        {{>feedback-form}}
      </div>

      <hr>

      {{>link-to-page}}

      {{>images-slider}}
    </div>
  </div>
</section>

{{/content}}
{{/extend}}