{{#extend "layout"}}
{{#content "main"}}

{{>breadcrumbs}}

<section class="contacts">
  <div class="container container--grid">
    <div class="contacts__header">
      <h1 class="contacts__title">{{title}}</h1>
      <div class="contacts__info-desktop">
        {{>contacts-info}}
      </div>
    </div>
    <div class="contacts__content js-init-tabs">
      <div class="swiper contacts__tabs js-bodies" data-hash="1">
        <div class="contacts__tabs-btns js-tabs">
          <button class="contacts__tabs-btn button button--narrow js-tab active" type="button">
              <svg><use xlink:href="#car-1"></svg>
              <span>Как добраться</span>
          </button>
          <button class="contacts__tabs-btn button button--narrow js-tab" type="button">
              <svg><use xlink:href="#block"></svg>
              <span>Схема этажей</span>
          </button>
        </div>
        <ul class="swiper-wrapper contacts__tabs-container">
          <li class="swiper-slide contacts__tab-item" data-hash="map">
            <div class="contacts__tab-map js-init-map js-init-overlay-map-container"
              data-initial-longitude="55.712142"
              data-initial-latitude="37.656631"
              data-initial-zoom="17"
              data-image="../img/icons/location.svg"
            >
              <div class="contacts__tab-map-overlay js-init-overlay">
                <svg><use xlink:href="#location"></svg>
              </div>
            </div>
          </li>
          <li class="swiper-slide contacts__tab-item" data-hash="scheme">
            <div class="contacts__tab-scheme-block">
              <form class="contacts__tab-scheme-form" name="scheme" action="/">
                {{>utils/search-input}}
                <div class="contacts__tab-scheme-inputs">
                  {{>utils/radio-inputs}}
                  <fieldset class="contacts__tab-scheme-selects">
                    {{>utils/select data=selectData1}}
                    {{>utils/select data=selectData2}}
                  </fieldset>
                </div>
              </form>
              <div class="contacts__tab-scheme js-scheme">
                <pre>Здесь будет схема этажей</pre>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="contacts__info-mobile">
        {{>contacts-info}}
      </div>

      <div class="contacts__form-wrapper">
        {{>feedback-form}}
      </div>

      <hr>

      {{>link-to-page}}

      {{>images-slider}}
    </div>
  </div>
</section>

{{/content}}
{{/extend}}