{{#extend "layout"}}
{{#content "main"}}

{{>intro-image anchor="slider-section"}}

{{>slider-section size="large" data=sliderSection1}}

<div class="container">
  <hr>
</div>

{{>text-image}}

<div class="container">
  <hr>
</div>

{{>image-text}}

{{>image}}

<div class="container">
  <hr>
</div>

{{>video}}

<div class="container">
  <hr>
</div>

{{>contacts-section calc=true}}

{{/content}}
{{/extend}}