{{#extend "layout"}}
{{#content "main"}}

{{>breadcrumbs}}

<section class="page-title-block">
  <div class="container">
    <h1 class="page-title">{{title}}</h1>
  </div>
</section>

<section class="vacancy">
  <div class="container container--grid">
    <div class="vacancy__header">
      <div class="vacancy__contacts">
        <a class="vacancy__link vacancy__phone" href="tel:+74951919797">
          <svg><use xlink:href="#phone"></svg>
          <span>+7 (495) 191-97-97</span>
        </a>
        <a class="vacancy__link vacancy__email" href="mailto:info@globalmall.ru">
          <svg><use xlink:href="#mail"></svg>
          <span class="vacancy__email-label">info@globalmall.ru</span>
        </a>
        <span class="vacancy__contacts-label">По вопросам трудоустройства</span>
      </div>
    </div>
    <div class="vacancy__body">
      <div class="vacancy__hh-block">
        <div class="vacancy__hh-text">
          <h2 class="vacancy__hh-title">Все вакансии компании на&nbsp;HH.ru</h2>
          <a class="button button--narrow vacancy__hh-link" href="#" target="_blank">
            <span>Смотреть все</span>
            <svg><use xlink:href="#arrow-right"></svg>
          </a>
        </div>
        <img class="lazyload vacancy__hh-logo" src="img/HeadHunter.png" alt="HH"></img>
      </div>
      <div class="vacancy__text editable-text-container">
        <p>Первоначально этим словом обозначалась исключительно вакантная епископская кафедра. Так как лица, от которых зависело замещение кафедры, часто с умыслом медлили, дабы пользоваться пока епископскими доходами, то церковь уже очень рано постановила, чтобы духовные должности, замещение которых составляет привилегию светских лиц, не оставались вакантными более шести месяцев, а зависящие от духовных лиц — более четырех месяцев; нарушивший это постановление лишался на этот раз своей привилегии и вакантная должность замещалась помимо него.</p>
      </div>

      {{>feedback-form}}

    </div>
  </div>
</section>

{{/content}}
{{/extend}}