%secondary-ff {
  font-family: 'Circe', sans-serif;
}
%main-ff {
  font-family: 'Stolzl', sans-serif;
}

// Заголовки
%fs-h1 {
  @include clamp(24, 43);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 4.3rem;
  }
}
%fs-h2 {
  @include clamp(22, 34);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 3.4rem;
  }
}
%fs-h3 {
  @include clamp(20, 27);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 2.7rem;
  }
}
%fs-h4 {
  @include clamp(18, 22);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 2.2rem;
  }
}
%fs-h5 {
  @include clamp(14, 18);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 1.8rem;
  }
}
%fs-h6 {
  @include clamp(12, 14);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 1.4rem;
  }
}
%fs-h7 {
  @include clamp(9, 11);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 1.1rem;
  }
}

// Наборный текст
%fs-t1 {
  @include clamp(20, 27);
  font-weight: 400;
  line-height: 1.5;
  @media (min-width: 1681px) {
    font-size: 2.7rem;
  }
}
%fs-t2 {
  @include clamp(17, 22);
  font-weight: 400;
  line-height: 1.5;
  @media (min-width: 1681px) {
    font-size: 2.2rem;
  }
}
%fs-t3 {
  @include clamp(14, 18);
  font-weight: 700;
  line-height: 1.5;
  @media (min-width: 1681px) {
    font-size: 1.8rem;
  }
}
%fs-t4 {
  @include clamp(14, 18);
  font-weight: 400;
  line-height: 1.5;
  @media (min-width: 1681px) {
    font-size: 1.8rem;
  }
}
%fs-t5 {
  @include clamp(12, 14);
  font-weight: 700;
  line-height: 1.5;
  @media (min-width: 1681px) {
    font-size: 1.4rem;
  }
}
%fs-t6 {
  @include clamp(12, 14);
  font-weight: 400;
  line-height: 1.5;
  @media (min-width: 1681px) {
    font-size: 1.4rem;
  }
}
%fs-t7 {
  @include clamp(9, 11);
  font-weight: 700;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 1.1rem;
  }
}
%fs-t8 {
  @include clamp(9, 11);
  font-weight: 400;
  line-height: 1.3;
  @media (min-width: 1681px) {
    font-size: 1.1rem;
  }
}