<div class="search-form__input-wrapper">
    <div class="search-form__input">
        <input class="js-text-input" name="search" type="text" placeholder="{{this.label}}" autocomplete="off">
        <button class="search-form__btn js-submit" type="submit">
            <svg><use xlink:href="#search"></svg>
        </button>
    </div>
    <div class="search-form__no-result js-error-message">
        <svg><use xlink:href="#info-circle"></svg>
        <span>Не найдено ни одного магазина</span>
    </div>
</div>