<button class="slider__btn js-prev-slide" type="button" title="Назад">
    <svg><use xlink:href="#arrow-left"></svg>
</button>
<button class="slider__btn js-next-slide" type="button" title="Вперёд">
    <svg><use xlink:href="#arrow-right"></svg>
</button>